#background {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    z-index: 5;
    position: sticky;
    top: 0;
    left: 0;
}

.column {
    flex: 1;
    height: 3rem;
    transition: 1.5s
}

.button {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#home {
    background-color: rgb(0, 0, 0);
    transition: 1.5s;
    padding-bottom: 6rem;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 1.5rem;
    font-size: 2.3rem;
    transform: scaleY(2);
    text-align: center;
    width: fit-content;
    /* background-color: red; */
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 2rem;
    text-align: center;
    width: fit-content;
    /* background-color: red; */
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
    width: fit-content;
    margin-bottom: 2rem;
    /* background-color: red; */
    text-indent: 0.5rem;
}

input{
    height: 1.5rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    transition: 1.5s;
}

#mainPageContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#format {
    border-style: solid;
    border-width: 2px;
    border-radius: 1%;
    padding: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 2rem;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}


#imageContainer {
    margin-bottom: 2rem;
    position: relative;
    /* background-color: red; */
    display: flex;
}

#image {
    width: 300px;
    margin: 0;
}



#hideContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 300px;

    /* background-color: red; */
}

#hideImage {
    position: absolute;
    background-color: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 300px;
}

#rangeContainer {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    opacity: 0;
}

#range {
    appearance: slider-vertical;
    height: 100%;
    width: 100%;
    color: none;
}


#bigImageContainer {
    display: flex;
    /* background-color: red; */
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 6rem;
    margin-top: 2rem;
    overflow: hidden;
}

#bigImage {
    width: 100%;
    margin: auto;
    /* border-style: solid;
    border-width: 3px;
    border-color: black; */
}

/* #bigImageContainer:hover #bigImage{
    transform: scale(1.5);
    transform-origin: 0% 0%;
} */

#hideBigImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
}

#hideBigImage {
    position: absolute;
    background-color: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
}

#tableContainer {
    border-style: solid;
    border-width: 2px;
    border-radius: 1%;
    width: 28rem;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* background-color: antiquewhite; */

}

.tableRow {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    height: 2rem;
    width: 100%;
    letter-spacing: -5;
}

.id {
    /* background-color: green; */
    width: 2rem;
    height: 1rem;
    margin-right: 0.5rem;
    text-align: left;
    letter-spacing: 0;
}

.date {
    /* background-color: green; */
    width: 11rem;
    margin-right: 0.5rem;
    height: 1rem;
    text-align: left;
    letter-spacing: 0;
}

.row {
    /* background-color: green; */
    width: 3rem;
    margin-right: 0.5rem;
    height: 1rem;
    text-align: left;
    letter-spacing: 0;
}

.progress {
    /* background-color: green; */
    width: 6rem;
    height: 1rem;
    text-align: left;
    letter-spacing: 0;
}

.close {
    /* background-color: green; */
    width: 2rem;
    height: 1rem;
    text-align: left;
    letter-spacing: 0;
}

.close:hover{
    cursor: pointer;
}

#buttons{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 1.5s;
}

#buttons:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    #mainPageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #image {
        width: 80vw;
    }

    #hideImage {
        width: 80vw;
    }

    #hideContainer {
        width: 80vw;
    }
}